body {
  font-size: 100%;
  line-height: 1.2;
  background-color: #fffbf5;
}

h1 {
  color: black;
  font-size: 11px;
  letter-spacing: 4px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

p {
  color: grey;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.header {
  left: 2%;
  top: 5%;
  position: absolute;
  text-align: left;
}

.content {
  left: 15%;
  top: 10%;
  text-align: left;
  position: absolute;
  max-width: 1000px;
  font-size: 11px;
  color: grey;
  font-family: 'Merriweather', serif;
}

.content-photos {
  left: 11%;
  top: 8%;
  text-align: left;
  position: absolute;
  max-width: 1800px;
}

.content-photos img {
  margin: 15px;
  display: inline-block;
}

.content a {
  color: grey;
  text-decoration: none;
}

.links {
  max-width: 600px;
}

.links ul {
  padding: 20px 0;
}

.links li {
  display: block;
  list-style: none;
  line-height: 20px;
  margin-bottom: 20px;
}

.links a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  margin: 0 2px 0 2px;
  text-transform: uppercase;
}
